$bgcolor: black;
$txtcolor: white;
$jumbotronColor: red;

body{
  background-color: $bgcolor;
}

h1{
  color: $txtcolor;
}

.jumbotron{
  h1{
    color: $jumbotronColor;
  }
}

ul{
  a{
    width: 50%;
  }
}

.pageHeader{
  display: flex;
  flex-direction: row;

  h1{
    display: flex;
  }

  a#homebtn{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 30%;
    justify-content: center;
    @media screen and (max-width: 900px) {
      margin: 10px 0 10px 10%;
    }
  }
}

table, th, td{
  color: $txtcolor;
  border: 1px solid green;
  border-collapse: collapse;
}

.row.one{
  margin-bottom: 5px;
}

%equalSizes{
  width: 300px;
  height: 200px;
  @media screen and (max-width: 330px){
    width: 250px;
    height: 150px;
  }
}

%flexing{
  display: flex;
  flex-wrap: wrap;
}

%borderandspacing{
  border: 1px solid yellow;
  margin: 5px;
  padding: 10px;
}

.allPics{
  @extend %flexing;
}

.pic{
  @extend %equalSizes;
}

#snowboarding{
  @extend %borderandspacing;
  background-color: white;
}

#wakeboarding{
  @extend %borderandspacing;
  background-color: skyblue;
}

#boostedboarding{
  @extend %borderandspacing;
  background-color: darkslategray;
}

#gym{
  @extend %borderandspacing;
  background-color: wheat;
}